table{
    border: solid black 2px;
     margin-top: 30px;

}
td{
    border: solid black 2px;
    color: green;
    font-weight: 700;

}
th{
    border: solid black 2px;
    color: red;
    font-weight: 800;
}
p{
    color: blue;
    font-weight: 500;
}